apt-clone==0.2.1
apturl==0.5.2
asn1crypto==0.24.0
astroid==2.0
autopep8==1.3.5
beautifulsoup4==4.6.0
Brlapi==0.6.6
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
cryptography==2.1.4
cupshelpers==1.0
defer==1.0.6
Django==2.0.7
flake8==3.5.0
Flask==1.0.2
httplib2==0.9.2
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
onboard==1.4.1
PAM==0.4.2
paramiko==2.0.0
petname==2.2
pexpect==4.2.1
Pillow==5.1.0
pipenv==2018.7.1
powerline-status===2.6.dev9999-git.b-6257332372bf9f64d928b6a3b53d2842d9c7e01f-
progressbar==2.3
protobuf==3.0.0
psutil==5.4.2
pyasn1==0.4.2
pycairo==1.16.2
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pyelftools==0.24
pyflakes==1.6.0
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pylint==2.0.0
pymacaroons==0.13.0
PyNaCl==1.1.2
pyRFC3339==1.0
pysha3==1.0.2
python-apt==1.6.2
python-debian==0.1.32
python-xapp==1.2.0
python-xlib==0.20
pytz==2018.5
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.19.1
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
sessioninstaller==0.0.0
setproctitle==1.1.10
simplejson==3.13.2
six==1.11.0
snapcraft==2.43.1+18.4
system-service==0.3
systemd-python==234
tabulate==0.7.7
typed-ast==1.1.0
ufw==0.35
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
wrapt==1.10.11
xkit==0.0.0
